body {
}


.navbar_logos{
    display:flex;
    justify-content:space-around;
}

.my_logo{
    width:7%;
    height:7%;
}

/*.my_footer1{*/
/*    margin-top:3px;*/
/*}*/

.my_footer {
    display:flex;
    flex-direction:column;
}

.icons_container{
    display:flex;
    justify-content:space-around;

}

