

/*body {
    margin-top:5px;
}*/
.headLine_ShoesPage {
    text-align: center;
}

.container_toAllPage {
    width: 100%;
    display: flex;
    justify-content: center;
    /*    background-color:red;*/
}

.card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: #282c34;
    /*    border-radius:11px;*/
}

.card {
    width: 33%;
    height: 40%;
    /*    border:2px solid black;*/
    /*    border-radius:5px;*/
    text-align: center;
    color: antiquewhite;
}

    

.card_img {
    width: 85%;
    height: 65%;
    border-radius: 5px;
}

/*    .card_img:hover + #check {
        display: block;
    }*/

/*#check {*/
/*    color:white;*/
/*    width: 60vw;*/
/*width:10px;*/
/*    height: 600px;*/
/*height:10px;*/
/*    z-index: 3;*/
/*    position:fixed;*/
/*    background-color: rgb(243, 136, 136);*/
/*    margin-top: 0%;*/
/*    margin-left: 20%;*/
/*    position: fixed;*/
/*    border-radius: 15px;*/
/*    display: none;*/
/*        display:none;*/
/*    background-color: black;*/
/*width: 60vw;
    height: 50vh;*/
/*    display: none;*/
/*    z-index: 3;
    position: fixed;
    color: aliceblue;
    margin-top: 20%*/
/*}*/
.card_price {
    color: red;
    font-size: x-large;
}


/*.hover_pic_moreInfo_container {
    background-color: black;
    width:60vw;
    height:50vh;
        display:none;
    z-index: 3;
    position: fixed;
    color: aliceblue;
    margin-top:
}*/

/*.container_more_info_pic{
    display:flex;
}*/

/*.more_info_pic {
    width: 100%;
    height: 100%;
}*/

.btn_switchTotable {
    text-decoration: none;
}

.btn_switchTotable:hover {
    color:antiquewhite;
    background-color:black;
}

.btn_wordTable:hover {
    color: red;
}


/*///////////////////////////////////////////////////////////////////////////////////////*/

