
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');


.headLine_ShoesPage_container {
    display: flex;
    justify-content: center;
}

.headLine_ShoesPage {
    color: #282c34;
    width: fit-content;
    font-family: 'Inconsolata', monospace;
}

    .headLine_ShoesPage:hover {
        color: #c2d6fd;
        text-shadow: 0 0 15px #282c34, 0 0 25px #282c34,0 0 35px #282c34,0 0 45px #282c34;
    }

.container_toAllPage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Inconsolata', monospace;
    height:100%;
}

.card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    background-color: #282c34;
    font-family: 'Inconsolata', monospace;
    height:fit-content;
}

.card {
    width: 33%;
    height: 40%;
    text-align: center;
    color: antiquewhite;
}

.card_img {
    width: 85%;
    height: 45vh;
    border-radius: 5px;
}

.card_price {
    color: red;
    font-size: x-large;
}

.my_btn {
    color: #c2d6fd;
    border-radius: 50px;
    border-width: 0;
    font-size: 1.5em;
    height: 50px;
    background-color: #282c34;
    padding: 0 25px;
    transition: all 200ms;
    font-family: Arial;
}

    .my_btn:hover {
        background-color: #afc3eb;
        transform: scale(1.05);
        color: #282c34;
    }
