@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/CSS/Home/Home.css" rel="stylesheet" type="text/css">



<div class="cont_ainer">
    <div id="text_about_me" class="cont_info">
        <h1 class="cont_inside_info">Welcome</h1>
        <h3 class="cont_inside_info">I'm Eliyahu Belay</h3>
        <p class="cont_inside_info">
            I am a student, studying Full-Stuck development.
        </p>
        <p class="cont_inside_info">
            As part of the course I built this site, Hope you will like it.
        </p>
    </div>
    <div class="cont_info">
        <h1 class="cont_inside_info">About The Website</h1>
        <p class="cont_inside_info">
            AllSportStore is part of the Independent Sports Retailers Alliance ( ISRA ) group
            which is an independent group of like minded local retail sports shops who are always looking to better their shops for the benefit of the local customer.
            The group has a strong membership with over 40 shops in different locations.
            Buying as a group and hence more buying power which is to the benefit to you our customers.
        </p>
    </div>
</div>


<div class="my_boxes">
    <div class="my_box1">
        <h2>Sport Equipment</h2>
        <img class="pic_box" src="~/Content/Images/equipment.jpg" onclick="location.href = '@Url.Action( "GetAllSportsEquipment","Equipment")'" />
    </div>
    <div class="my_box1">
        <h2>Shoes</h2>
        <img class="pic_box" src="~/Content/Images/shoes.jpg" onclick="location.href = '@Url.Action("GetAllShoes", "Shoes")'" />
    </div>
    <div class="my_box1">
        <h2>Cloths</h2>
        <img class="pic_box" src="~/Content/Images/running.jpg" onclick="location.href = '@Url.Action("GetAllShirt", "Shirt")'" />
    </div>
</div>

<section class="container_company">
    <img src="~/Content/Images/asics.png" />
    <img src="~/Content/Images/Adidas.png" />
    <img src="~/Content/Images/Nike.png" />
    <img src="~/Content/Images/Puma.png" />
    <img src="~/Content/Images/Umbro.png" />
    <img src="~/Content/Images/Converse.png" />
    <img src="~/Content/Images/canterbury.png" />
    <img src="~/Content/Images/underArmour.png" />
</section>